#kontakt{
    background-color: rgb(198, 233, 233);
    width: 150px;
    height: 160px;
}
.obrazac{
    background-color: rgb(205, 192, 209);
    width: 600px;
    border: 3px rgb(99, 47, 82) dotted;
    padding: 10px;
}
.input{
    width: 400px;
    height: 100px;
}
html{
    background-color: #efefef;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 5vw;
    font-family: indie 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.5cm;
    text-align: center;
    text-shadow: -2px 2px 2px #000;
}
ol{
    font-size: 1.0em;
    text-transform: uppercase;
}
li{
    font-weight: 500;
}
p{
    text-align: justify;
    text-indent: 0.4cm;
}
.centriranje{
    margin: auto;
    display: flex;
    border-radius: 20px;
}
.social{
    width: 30px;
    height: 30px;
}
.social:hover{
    border-radius: 34px;
}
table,th,td{
    border: 1px green solid;
    text-align: center;
    width: 100%;
}
th,tr{
    border-radius: 20px;
    border: 1px #ffd700 dotted;
    width: 20%;
}
.img1{
  width: 50%;
}
nav{
    position: fixed;
    height: 40px;
    margin-top: 0px;
    background-color: #efefef;
    width: 100%;
}
.desno{
    float: right;
    font-size: 12pt;

}
.s1{
    color: orange;
    background-color: purple
}
.s2{
    color: pink;
    background-color: green;
}
.s3{
    color: lime;
    background-color: hotpink;
}
.s4{
    color: blue;
    background-color: brown;
}
.s5{
    color: lime;
    background-color: blue;
}
.s6{
    color: orange;
    background-color: purple;
}
.s7{
    color: pink;
    background-color: green;
}
.s8{
    color: lime;
    background-color: hotpink;
}
.s9{
    color: blue;
    background-color: brown;
}
.mp{
    height: 50px;
    background-color: rgb(203, 238, 238);
}
.seperator{
    padding: 4px;
    color: gray;
}
nav,a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.esfera{
    height: 40px;
    width: 80px;
}
.button{
    background-color: rgb(99, 47, 82);
    border: rgb(99, 47, 82) solid 2px;
    color: white;
}
.button:hover{
    background-color: rgb(124, 105, 129);
}
h2{
    font-size: 1.5em;
}